<section class="prescription-box">
	
	<h1>処方箋</h1>
	<p id="under-shoho">(この処方箋は、どの保険薬局でも有効です。)</p>

	<table class= "first-table">
		<tr>
			<th class="col-1">公費負担者番号</th>
				<% if @karte_history.karte.patient.patient_histories.last.public_expense_number.nil?  %>
					<% 8.times do %>
						<td class="number_split" class="col-2"></td>
					<% end %>
				<% else %>
					<% @karte_history.karte.patient.patient_histories.last.public_expense_number.to_s.chars.each do |num| %>
						<td class="number_split" class="col-2"><%= num.to_i %></td>
					<% end %>
				<% end %>

			<th class="col-3">保険者番号</th>
			<% if @karte_history.karte.patient.patient_histories.last.insurance_card_number.nil? %>
				<% 8.times do %>
					<td class="number_split" class="col-4"></td>
				<% end %>
			<% else %>
				<% @karte_history.karte.patient.patient_histories.last.insurance_card_number.to_s.chars.each do |num| %>
					<td class="number_split" class="col-4"><%= num.to_i %></td>
				<% end %>
			<% end %>
		</tr>
	</table>

	<table class="second-table">
		<tr>
			<th class="col-2-1">公費負担医療<br>の受給者番号</th>
			<% if @karte_history.karte.patient.patient_histories.last.public_healthcare_number.nil? %>
				<% 8.times do %>
					<td class="number_split" class="col-2"></td>
				<% end %>
			<% else %>
				<% @karte_history.karte.patient.patient_histories.last.public_healthcare_number.to_s.chars.each do |num| %>
					<td class="number_split" class="col-2"><%= num.to_i %></td>
				<% end %>
			<% end %>
			<th class="col-2-3">被保険者証・被保険<br>者手帳の記号・番号</th>
			<% if @karte_history.karte.patient.patient_histories.last.insured_persons_numer.nil? %>
				<% 8.times do %>
					<td class="number_split" class="col-2-4"></td>
				<% end %>
			<% else %>
				<% @karte_history.karte.patient.patient_histories.last.insured_persons_numer.to_s.chars.each do |num| %>
					<td class="number_split" class="col-2-4"><%= num.to_i %></td>
				<% end %>
			<% end %>
		</tr>
	</table>

	<div class="box-side">
		<table class="third-table">
			<tr>
				<th rowspan="3" class="col-3-1">患<br><br>者</th>
				<th class="col-3-2">氏 名</th>
				<td colspan="2" class="col-3-3"><%=@karte_history.karte.patient.patient_histories.last.name %></td>
			</tr>
			<tr>
				<th>生年月日</th>
				<td><%= @karte_history.karte.patient.patient_histories.last.birthdate.strftime("%Y年%m月%d日")%></td>
				<td><%= (@karte_history.karte.patient.patient_histories.last.sex_id) == 0 ? "男": "女" %></td>
			</tr>
			<tr>
				<th>区 分</th>
				<td colspan="2"><%=@karte_history.karte.patient.patient_histories.last.coverage_type %></td>
			</tr>
		</table>


		<div class="pre-clinic-information">
			<dl class="dl-clinic-information">
				<div class="cli-item">
					<dt class="cli-item-dt">保険医療機関の<br>所在地及び名称<dt>
					<dd><%= @clinic_information.name %></dd>
				</div>
				<div class="cli-item">
					<dt class="cli-item-dt">電話番号</dt>
					<dd><%= @clinic_information.phone_number %></dd>
				</div>
				<div class="cli-item">
					<dt class="cli-item-dt">保険医氏名<dt>
					<dd class="cli-item-dd"><%=@karte_history.staff.staff_histories.last.name %><span class="stamp-zone1">印</span></dd>

				</div>
				<table class="prefecture-table">
					<tr>
						<th>都道府県番号</th>
						<% if @clinic_information.prefecture_code.nil? %>
							<td class="number_split"></td><td class="number_split"></td>
						<% else %>
							<% @clinic_information.prefecture_code.to_s.chars.each do |num| %>
								<td class="number_split"><%=num.to_i %></td>
							<% end %>
						<% end %>
			
						<th>点数表<br>番号</th>
						<td class="number_split">1</td>
						<th>医療機関<br>コード</th>
						<% if @clinic_information.clinic_code.nil? %>
							<% 8.times do %>
								<td class="number_split"></td>
							<% end %>
						<% else %>
							<% @clinic_information.clinic_code.to_s.chars.each do |num| %>
								<td class="number_split"><%= num.to_i %></td>
							<% end %>
						<% end %>
					</tr>
				</table>
			</dl>
			
		</div>
	</div>

	<table class="forth-table">
		<tr>
			<th class="col-4-1">交付年月日</th>
			<td class="col-4-2">　<%= @karte_history.created_at.in_time_zone('Tokyo').to_date.strftime("%Y年%m月%d日") %></td>
			<th class="col-4-3">処方箋の使用期間</th>
			<td class="col-4-4">　<%= (@karte_history.prescription_limit_date == nil)? "　　　年　　月　　日" : @karte_history.prescription_limit_date.strftime("%Y年%m月%d日") %></td>
		</tr>
	</table>
	<table class="fifth-table">
		<tr>
			<th class="col-5-1">処<br><br>方</th>
			<td class="col-5-2"><span class= "not-change-words">変更不可</span></td>
			<td class="col-5-3">
			<p id="prescription_notion">個々の処方薬について、後発医薬品(ジェネリック医薬品)への変更に差し支えがあると判断した場合には、<br>
			「変更不可」欄に「レ」又は「×」を記載し、「保険医署名」欄に署名又は記名・押印すること。</p>
			<ul id="prescription-ul">
				<% @karte_history.karte_prescriptions.each do |pre| %>
					<% master = pre.medicine_master %>
					<li class="prescription-content"><%= master.name %> <%= pre.amount %><%= master.unit %>
					<br><%= pre.comment %> <%=(pre.as_needed == "1") ? "頓用：" : "" %><%= pre.as_needed_comment %>
					</li>
				<% end %>
			</ul>
			</td>
		</tr>
	</table>

	<table class="sixth-table">
		<tr class="row-6-1">
			<th class="col-6-1" rowspan="3">備<br><br>考</th>
			<th class="col-6-2">　保険医署名</th>

		</tr>
		<tr>
			<td><%=@karte_history.prescription_additional_comment %></td>
		</tr>
	
		<tr class="col-6-3">
			<td><p id="p-col-6-3">保険薬局が調剤時に残薬を確認した場合の対応(特に指示がある場合は「レ」又は「×」を記載すること。)<br>   □保険医療機関へ疑義照会した上で調剤   □保険医療機関へ情報提供</p></td>
		</tr>
	</table>



	<table>
		<tr>
			<td>
				調剤実施回数(調剤回数に応じて、□に「レ」又は「×」を記載するとともに、調剤日及び次回調剤予定日を記載すること。)<br>
			  □1回目調剤日(　　年  　月 　日) 　 □2回目調剤日(　　年  　月  　日) 　 　□3回目調剤日(　　年  　月  　日)<br> 
			  　次回調剤予定日(　　年  　月  　日)  　 　次回調剤予定日(　　年  　月  　日)
			</td>
		<tr>
	</table>
	<table>
	
	<table class="seventh-table">
		<tr>
			<th class="col-7-1"><br>調剤済年月日<br><br></th>
			<td class="col-7-2">　　　　　年　　　月　　　日</td>
			<th class="col-7-3">公費負担者番号</th>
			<td class="col-7-4"></td>
			<td class="col-7-5"></td>
			<td class="col-7-6"></td>
			<td class="col-7-7"></td>
			<td class="col-7-8"></td>
			<td class="col-7-9"></td>
			<td class="col-7-10"></td>
			<td class="col-7-11"></td>
		</tr>
	</table>
	<table class="eigth-table">
		<tr>
			<th class="col-8-1">保険薬局の所在地<br>及び名称<br>保険薬剤師氏名</th>
			<td class="col-8-2"><span class="circle-stamp">印</span>　　</td>
			<th class="col-8-3">公費負担医療の<br>受給者番号</th>
			<td class="col-8-4"></td>
			<td class="col-8-5"></td>
			<td class="col-8-6"></td>
			<td class="col-8-7"></td>
			<td class="col-8-8"></td>
			<td class="col-8-9"></td>
			<td class="col-8-10"></td>
		</tr>
	</table>
	<p id="additional">備考 1.「処方」欄には、薬名、分量、用法及び用量を記載すること。<br>
	2.この用紙は、A列5番を標準とすること。<br> 
	3.療養の給付及び公費負担医療に関する費用の請求に関する省令(昭和51年厚生省令第36号)第1条の公費負担医療については、「保険医療機関」とある<br>
	のは「公費負担医療の担当医療機関」と、「保険医氏名」とあるのは「公費負担医療の担当医氏名」と読み替えるものとすること。</p>

</section>




